/* Background Geral */
.containerLP {
  display: flex;
  width: 74rem;
  padding: 1.5rem 0rem;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}
/* Section Boas Vindas */
.sectionWelcome {
  background: url("background-Section-1.svg") no-repeat bottom -40px center / auto 53%;
}
/* Section Desafio */
.sectionDesafio {
  background: #E9F0F0;
}

/* Section Email */
.sectionEmail {
  background: var(--blue-200, #A8DADC);
}